<!DOCTYPE html>
<html>
<head>
  <title>SimpleSpamPrevent</title>
  <%= stylesheet_link_tag    "simple_spam_prevent/application", :media => "all" %>
  <%= javascript_include_tag "simple_spam_prevent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
